:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f1f1f1;
  --dark-color: #333;
  --max-width: 1100px;
}
.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}
a {
  color: var(--dark-color);
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  margin: 0.5rem 0;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
  margin-bottom: 0.75rem;
  line-height: 1.3;
}

/* Utilities */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}
.category-sports {
  background: var(--sports-color);
}
.category-ent {
  background: var(--ent-color);
}
.category-tech {
  background: var(--tech-color);
}
.category-econ {
  background: red;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}
.btn-light {
  background: var(--light-color);
  color: var(--dark-color);
}
.btn-primary {
  background: var(--primary-color);
}
.btn-secondary {
  background: var(--secondary-color);
}
.btn:hover {
  opacity: 0.9;
}
.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}
.card {
  background: #fff;
  padding: 1rem;
}
.bg-dark {
  background: var(--dark-color);
  color: #fff;
}
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}
.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3 .bg-secondary a {
  color: #fff;
}

/*! category section*/
/* Category Bar */
#category-bar {
  background: var(--light-color);
  padding: 0.5rem 0;
}

.category-list {
  display: flex;
  justify-content: space-between; /* spread categories equally */
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-list li {
  flex: 1;
  text-align: center;
}

.category-list a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--dark-color);
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s ease, color 0.3s ease;
}

.category-list a:hover {
  background: var(--primary-color);
  color: #fff;
}

/*-Search button */
.search-form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 500px;
  width: 100%; /* Responsive width */
}

.search-form input {
  flex: 1; /* search bar responsive */
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.search-form input:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-color: var(--primary-color);
}

.search-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form button:hover {
  background-color: var(--secondary-color);
}

.search-form button:focus {
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*! --Header New Section--*/

#headline-news {
  background: var(--dark-color);
  color: #fff;
  padding: 2rem 0;
  position: relative;
}
#headline-news2 {
  background: var(--dark-color);
  color: #fff;
  padding: 2rem 0;
  position: relative;
}

#headline-news:before {
  content: "";
  background: url("https://img.freepik.com/free-vector/global-technology-earth-news-bulletin-background_1017-33687.jpg?t=st=1733998853~exp=1734002453~hmac=99408573f26a8ff6907abdc0eeb6bf35b85405732adbc4d6deb3385f06657d59&w=1800")
    no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 0;
}
#headline-news2:before {
  content: "";
  background: url("https://images8.alphacoders.com/516/thumb-1920-516785.jpg")
    no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 0;
}

.headline-grid {
  display: grid;
  grid-template-areas:
    "main main side1"
    "main main side2"
    "small1 small2 small2";
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  position: relative;
  z-index: 1;
}

.headline-grid article {
  background: #fff;
  color: var(--dark-color);
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
}

.headline-grid img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.headline-grid .main-news {
  grid-area: main;
}
.headline-grid .main-news img {
  max-height: 400px;
}

.headline-grid .side-news:nth-of-type(1) {
  grid-area: side1;
}

.headline-grid .side-news:nth-of-type(2) {
  grid-area: side2;
}

.headline-grid .small-news:nth-of-type(1) {
  grid-area: small1;
}

.headline-grid .small-news:nth-of-type(2) {
  grid-area: small2;
}

/*! ----------- */
.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.list li {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: #555 dotted 1px;
  width: 90%;
}
.list li a:hover {
  color: var(--primary-color) !important;
}
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}
.page-container > *:first-child {
  grid-row: 1 / span 3;
}
.l-heading {
  font-size: 2rem;
}

/* Navigation Bar */
#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}
#main-nav .container {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr 1fr;
  padding: 1rem;
  align-items: center;
}
#main-nav .logo {
  width: 180px;
}
#main-nav ul {
  justify-self: end;
  display: flex;
}
#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
#main-nav ul li a.current {
  border-bottom: 4px solid var(--primary-color);
}
#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}
#main-nav .social {
  justify-self: auto;
}
#main-nav .social i {
  color: #777;
  margin-right: 0.5rem;
}

/* Showcase */
#showcase {
  color: #fff;
  background: var(--dark-color);
  padding: 2rem;
  position: relative;
}
#showcase:before {
  content: "";
  background: url("../img/featured.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}
#showcase .showcase-content {
  z-index: 1;
}
#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* Articles */
#home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
#home-articles2 .articles-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-column: span 2;
  align-items: center;
}
#home-articles .articles-container > *:last-child {
  grid-column: span 2;
}
#article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
}
#article .meta .category {
  margin-top: 0.4rem;
}

/* Footer */
#main-footer {
  background: var(--dark-color);
  color: #fff;
}
#main-footer img {
  width: 150px;
}
#main-footer a {
  color: #fff;
}
#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
#main-footer .footer-container > *:last-child {
  background: #444;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
}
#main-footer .footer-container input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
#main-footer .footer-container input[type="submit"] {
  width: 90%;
}
/* Responive */

@media (max-width: 768px) {
  /* Navigation bar */
  #main-nav .social {
    display: none;
  }
  #main-nav .container {
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
  }

  #main-nav ul,
  #main-nav .logo {
    justify-self: center;
  }
  #main-nav ul li a {
    padding: 0.5rem;
  }

  /* Articles */
  #home-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #home-articles .articles-container > *:first-child {
    grid-template-columns: 1fr;
    grid-column: 1;
  }
  #home-articles .articles-container > *:last-child {
    grid-template-columns: 1fr;
    grid-column: 1;
  }
  .category-list a {
    font-size: 0.9rem;
  }
  .headline-grid {
    grid-template-areas:
      "main"
      "side1"
      "side2"
      "small1"
      "small2";
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  /* Articles Grid */
  #showcase .showcase-container,
  #home-articles .articles-container,
  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }
  /* Footer */
  #main-footer .footer-container > *:last-child {
    grid-column: 1;
  }
  #main-footer .footer-container > *:first-child,
  #main-footer .footer-container > *:nth-child(2) {
    border-bottom: #444 dotted 1px;
    padding-bottom: 1rem;
  }
  /* About and Article Page */
  .page-container {
    grid-template-columns: 1fr;
  }
  .search-form {
    justify-content: center;
  }
  .search-form input {
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .category-list {
    flex-wrap: wrap;
  }
  .category-list li {
    flex: 1 1 50%; /* 2 row placement */
    text-align: center;
  }
  .category-list a {
    font-size: 0.6rem;
    padding: 0 0.2rem;
  }
}
